name: CI Golden Movie Studio

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Subir backend e frontend
        run: docker compose up -d backend frontend

      - name: Aguardar serviços subirem
        run: sleep 10

      - name: Executar testes E2E com Cypress
        run: docker compose run --rm cypress

      - name: Salvar evidências
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: evidencias-cypress
          path: |
            cypress-videos/
            cypress-screenshots/

      - name: Derrubar containers
        if: always()
        run: docker compose down
